@{
    ViewBag.Title = "Contact";
}


<div class="row">
    <div class="col-md-12">
        <h2>We Will Play Your Show!</h2>
        <p>We love to play out - everything from back yard barbeques to packed concert halls.  We have our own sound equipment, or we can use yours, or we can busk it completely acoustic.  Get ahold of us!</p>
        <address>
            <strong>Booking:</strong>   <a href="mailto:wanderingzeroband@gmail.com">wanderingzeroband@gmail.com</a>
        </address>
    </div>
</div>