@{
    ViewBag.Title = "Who We Are";
}


<div class="row">
    
    <div id="band">
        <h2>The Band</h2>
        <div class="col-md-2">
            <h4>Mike<br/>BoonE</h4>
            <img src="~/images/mike.png" alt="Mike plays guitar, sings as well as designs and builds buildings" />
            <h5>Guitar, Vocals</h5>
        </div>
        <div class="col-md-2">
            <h4>Jessica<br/>Kieras</h4>
            <img src="~/images/jessica.png" alt="Jessica plays fiddle, sings and solves problems" />
            <h5>Fiddle, Vocals</h5>
        </div>
        <div class="col-md-2">
            <h4>Nicholas<br/>Zorich</h4>
            <img src="~/images/nick.png" alt="Nick plays drums, cajon and serves delicious food" />
            <h5>Cajon, Percussion, Vocals</h5>
        </div>
        <div class="col-md-2">
            <h4>Clarence<br/>Robertson</h4>
            <img src="~/images/clarence.png" alt="Clarence plays bass, harmonica, sings, makes booze and sells guitars" />
            <h5>Upright Bass, Harmonica, Hillbilly Percussion, Vocals</h5>
        </div>
        <div class="col-md-2">
            <h4>Dave<br/>Becker</h4>
            <img src="~/images/dave.png" alt="Dave plays guitar, sings and works for the man" />
            <h5>Guitar, Upright Bass, Vocals</h5>
        </div>
    </div>
</div>